//
   Created by hasee on 2017/4/9.
- var name = ' 陆鸿博';
- var position = ' 前端工程师';
- var workYears = ' 一年以上';
- var academic = ' 一本计算机科学与技术';
- var skillList = ['HTML5','CSS3','Javascript','pug','BootStrap','jQuery','Photoshop','Git'];
- var skillImgList = ['icon-html.jpg','icon-css.jpg','icon-js.jpg','icon-pug.png','icon-bootstrap.jpg','icon-jquery.jpg','icon-ps.jpg','icon-git.jpg'];
- var skillDescList = [''];
-
    var descList = ['熟练手写符合w3c标准并具有语义化的HTML页面',
    '熟练使用CSS对网页布局进行调整，能利用媒体查询制作响应式布局，了解不同浏览器的兼容性。',
    '对javascript的原型、闭包、立即执行函数都有深刻理解，并用于javascript面向对象编程，熟练使用echarts、jquery等javascript库。',
    '熟练使用pug模版引擎编写页面，此页面就是用pug编写。',
    '能用bootstrap制作响应式页面，同时能在它基础上进行改造',
    '熟练使用，并在学习它的源码。',
    '熟练使用PS对设计稿进行切图。',
    '熟练运用git和svn进行团队协同工作'
    ]
mixin description(label,data)
    p
        span= label
        span= data

mixin skillItem(sorc,title,desc)
    .skill-item
        img(class='item-img' src= '../public/images/'+sorc)
        h3(class='item-title')= title
        span(class='item-desc')= desc


html
    head
        meta(charset="UTF-8")
        title 陆鸿博的简历
        link( rel='stylesheet',href='../public/stylesheets/YUIReset.css')
        link( rel='stylesheet', href='../public/stylesheets/resume.css')
    body
    .header
        .container
            button(class='header-button')
            .float-menu
                .float-item
                    img(class='icon_photo' src='../public/images/myPhoto.jpg')
                    span 陆鸿博————web前端工程师

                .float-item
                    a(href='#work-exp') 工作经历
                .float-item
                    a(href='#skill') 技能展示
                .float-item
                    a(href='#self-eval') 自我介绍
                .float-item
                    a(class='last-a' href='#page-info') 关于本页
            span(class='header-title') 简历
            ul(class='menu')
                li
                    a(class='header-link' href="mailto:luhongbo9786@gmail.com") 联系我
                li
                    a(class='header-link' href='http://www.cnblogs.com/luhongbo/') 博客

    .container
        #sidebar
            h2(class="about-title") 关于我
            #about
                img(class='my-photo',src='../public/images/myPhoto.jpg')
                +description('姓名：',name)
                +description('职位：',position)
                +description('经验：',workYears)
                +description('学历：',academic)
        #main-content
            #work-exp(class='content-page')
                h1(class='work-exp-title') 工作经历
                div(class='first company-panel')

                    h2(class='company-name') 东软集团（大连）有限公司————前端助理工程师
                    ul(class='responsibility')
                            li 使用webstorm+photoshop运用html+css等技术把UI设计图制作成网页并兼容ie9+、火狐、chrome等浏览器
                            li 与后端开发团队配合，确保代码有效对接，优化网站前端性能
                            li 实现各种页面交互效果
                div(class='second company-panel')

                    h2(class='company-name') 江苏北斗卫星产业应用研究院————前端工程师
                    ul(class='responsibility')
                            li 对北斗农机平台项目下的easyui框架进行样式改造
                            li 解决PC端网页在分辨率下的自适应和浏览器兼容性问题
                            li 制作投标项目的演示demo

            #skill(class='content-page')
                h1(class='skill-title') 技能展示
                .skill-container
                    - for (var x = 0; x < 8; x++)
                        +skillItem(skillImgList[x],skillList[x],descList[x])

            #self-eval(class='content-page')
                h1(class='self-eval-title') 自我介绍
                p 我叫陆鸿博，2016年毕业于山东科技大学计算机科学与技术。我是一个性格开朗、做事认真的人。
                    | 在解决问题的同时，我喜欢深入研究工作中所碰到的问题。
                    | 我有时间概念，能在规定时间内保证完成任务。
                    | 一年前端开发经验，能熟练开发和设计响应式的页面，对JS的闭包、立即执行函数、原型都有深入学习。
                    | 我有良好的缩进和写注释的习惯。
                    | 工作中我善于与人沟通协作完成任务。

            #page-info(class='content-page')
                h1(class='self-eval-title') 关于本页
                ul
                    li 当前为1.0版本，欢迎您常来看看
                    li 本页面是使用pug+css+Javascript进行预编写的，没有借助任何框架，pug页面地址：
                        a(href='https://github.com/KFandroid/kfandroid.github.com/blob/master/views/index.pug') 点击此处
                    li 适应多个终端，您可以在PC、mobile和pad上查看页面的不同效果
                    li 兼容ie9+（包含Edge）、火狐和Chrome浏览器

    .hovermenu
            a(class='hovermenu-item' href='#work-exp') 工作经历
            a(class='hovermenu-item' href='#skill') 技能展示
            a(class='hovermenu-item' href='#self-eval') 自我介绍
            a(class='hovermenu-item' href='#page-info') 关于本页

    .quick-return
        a(href='#')
            img(src='../public/images/rocket.png')





    script(src='../public/javascripts/resume.js')