body{
    overflow: hidden;
    overflow-y: scroll;
    color: #FFFFFF;
    cursor:default ;
    font-family: "Microsoft YaHei UI";
}
.header{
    background-color: #a86454;
}
.header .header-button{
    display: none;
    width: 3.4em;
    height:3em;
    background-color: #a86454;
    border-color: #a86454;
    background-image: url("../images/menu-icon.png") ;
    background-repeat: no-repeat;
    background-size:3em
}
.header .header-title{

    font-size: 2em;
    height: 2em;
    line-height:2em;
}
.header .menu{
    float:right;
}
.header .menu li{
    display: inline-block;
    line-height: 3;

}
.header .float-menu{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black;
    border-radius: .8em;
    position: absolute;
    width: 20em;
    display: none;
}
.header .float-menu .float-item{
    display: block;
    text-align: center;
    height: 3em;
    line-height: 3em;
}
.header .float-menu .float-item a{
    display: block;
    text-decoration: none;
    color: black;
}
.header .float-menu .float-item .last-a{
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
}
.header .float-menu .float-item a:hover{
    background-color: #00B7FF;
}
.header .float-menu .float-item:first-child{
    border-bottom: 1px solid black;
    height: 5em;
    line-height: 4em;
}
.header .float-menu .float-item .icon_photo{
    max-width: 2em;
    padding-left: 1em;
    padding-top: 1em;
}
.header .float-menu::before{
    content:'';
    position: absolute;
    border:1em solid;
    border-color: transparent transparent white transparent;
    height: 0px;
    width: 0px;
    left:7%;
    top:-2em;
}
.header .menu li{
    margin: auto;
    margin-right: 1em;
}
a.header-link{
    text-decoration: none;
    font-size:1.2em;
    
    color: #e9cdad;
}
a.header-link:hover{
    color: #FFFFFF;
}
.container{
    max-width: 1600px;
    min-width:920px;
    margin: 0 auto;

}

#sidebar{
    height: 500px;
    width: 254px;
    float:left;
    background-color: #00B7FF;
}
#sidebar .about-title{
    text-align: center;
    display: block;
    padding:.8em 0;
    border-bottom: 2px double white;
}
#about{
    margin:1em .8em;
}
#about img{
    display: block;
    margin: 0 auto;
}

#about span:first-child{
    width: 24%;
    display: inline-block;
}
#main-content{
    margin-left:270px;
    background-color: #66bb00;
}
#main-content h1{
    font-size: 1.6em;
}
#main-content .content-page{
    height:900px;
    padding-top: 30%;
}
.my-photo{
    max-width: 40%;
}
.hovermenu{
    position: absolute;
    top:600px;
    left:12%;
    width:66px;
}
a.hovermenu-item{
    display: block;
    height: 24px;
    text-decoration: none;
    color:white;
    position: relative;
    background-color:#a86454;
    margin-bottom: 6px;
}
a.hovermenu-item::after{
    content:"";
    position:absolute;
    left: 100%;

    border:12px solid;
    border-color:transparent;
    border-left-color: #a86454;
}

/*火箭的样式写的不好
 */
.quick-return{
    width: 40px;
    position: fixed;
    left:94%;
    bottom:50px;
}

.quick-return img{
    max-width: 100%;
}

#main-content *{
    width: 80%;
    text-align: center;
    margin:0 auto;
}

.company-logo{
    float:left;
    max-width: 20%;
}
.company-panel{
    background-color: #FFFFFF;
    border:2px solid #a86454;
    border-radius: .2em;
    color:#a86454;
}
.company-name{

    font-weight: bolder;
}
#main-content .responsibility{
    width: 100%;
    list-style-type: circle;
}
#main-content .responsibility li{
    text-align: left;
}
/*#skill .skills>li{*/
/*position: relative;*/
    /*width: 14%;*/
    /*height: 6em;*/
    /*background-color: #00B7FF;*/
    /*line-height: 6em;*/
    /*border-radius: 1em;*/
    /*display: inline-block;*/
    /*margin-right: 10%;*/
/*}*/
/*#skill .skills li .skill-show{*/
    /*width:300px;*/
    /*height:240px;*/
    /*display: none;*/
    /*background-color:white;*/
    /*border-radius: 1em;*/
    /*margin-top: 12px;*/
/*}*/
/*#skill .skill-name{*/
    /*cursor: pointer;*/
/*}*/

/*#skill .skills li .skill-show::before{*/
    /*content:"";*/
    /*position:absolute;*/
    /*border: 12px solid;*/
    /*border-color:transparent transparent #00B7FF transparent;*/
    /*right:42%;*/
    /*top:84px;*/
/*}*/
#skill{
    width: 100%;

}
#skill .skill-container{
    width: 100%;
}
#skill .item-title{
    color: #1F8DD6;
    font-weight: bold;
    font-size: 2em;
}
#skill .skill-item{
    width: 50%;
    height:8em;
    display: inline-block;
    float: left;
}
#skill .skill-item .item-img{
    float: left;
    max-width: 6em;
}
#skill .skill-item .item-desc{
    width: 50%;
    display: inline-block;
    padding-right: 6em;
}
@media screen and (max-width: 1020px){

    #sidebar{
        display: none;
    }
    #main-content{
        margin-left: 0;
    }
    .hovermenu{
        display: none;
    }
    .header{
        position: fixed;
        width: 100%;
        z-index: 999;
    }
    .header .header-button{
        display: inline-block;
        margin: 10px;
    }
}